.image {
  width: 300px;
  height: 400px;
}

.acc {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.acc a:hover img{
    transform: scale(1.09);
    transition-duration: 1s;
}

.wel {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.wel a:hover img{
    transform: skew(5deg, 15deg);
    transition-duration: 1s;
}

.overlay {
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.acc:hover .overlay {
  opacity: 1;
}

.wel:hover .overlay {
  opacity: 1;
}

.bath {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}

.bath a:hover img{
    transform: scale(1.09);
    transition-duration: 1s;
}

/* Footer */
.col-md-6 a{
    color: blue;

}
.col-md-6 a:hover{
    color: black;
    text-decoration: none;
}

/* Search Box */
input[type=text] {
    border-radius: 4px;
    background-image: url('searchicon.png');
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px; 
}

/** Navbar Affix **/
body {
    position: relative; 
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

/** parallax **/
.parallax {
    /* The image used */
    background-image: url("hotel6.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*** Slide Animation ***/
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/*** CSS Three Slider ***/
#container{
    width: 850px;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: 18em;
    border: 1px solid grey;
    box-shadow: 3px 5px 3px 5px grey;
}
#sliderbox{
    position: relative;
    width: 3200px;
    animation-name: slideranimation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
#sliderbox img{
    width: 250px;
    height: 300px;
    float: left;
}
#sliderbox .name{
    width: 250px;
    height: 300px;
    float: left;
}
#sliderbox .divider{
    width: 50px;
    height: 300px;
    float: left;
}
@keyframes slideranimation{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -900px;
    }
    45%{
        left: -900px;
    }
    50%{
        left: -1800px;
    }
    70%{
        left: -1800px;
    }
    75%{
        left: 0px;
    }
}/* End of Slider */